In [2]:
import json 
import pandas as pd 
import numpy as np
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [3]:
# Store filepath in a variable
df1 = "Resources/ted_main.csv"

In [4]:
# Read our Data file with the pandas library
df1 = pd.read_csv(df1, encoding="ISO-8859-1")

In [5]:
# Show just the header
df1.head(1)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110

In [6]:
inp = [{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id': 9, 'name': 'Ingenious', 'count': 6073}, {'id': 3, 'name': 'Courageous', 'count': 3253}, {'id': 11, 'name': 'Longwinded', 'count': 387}, {'id': 2, 'name': 'Confusing', 'count': 242}, {'id': 8, 'name': 'Informative', 'count': 7346}, {'id': 22, 'name': 'Fascinating', 'count': 10581}, {'id': 21, 'name': 'Unconvincing', 'count': 300}, {'id': 24, 'name': 'Persuasive', 'count': 10704}, {'id': 23, 'name': 'Jaw-dropping', 'count': 4439}, {'id': 25, 'name': 'OK', 'count': 1174}, {'id': 26, 'name': 'Obnoxious', 'count': 209}, {'id': 10, 'name': 'Inspiring', 'count': 24924}]

df = pd.DataFrame(inp)
print(df)

    count  id          name
0   19645   7         Funny
1    4573   1     Beautiful
2    6073   9     Ingenious
3    3253   3    Courageous
4     387  11    Longwinded
5     242   2     Confusing
6    7346   8   Informative
7   10581  22   Fascinating
8     300  21  Unconvincing
9   10704  24    Persuasive
10   4439  23  Jaw-dropping
11   1174  25            OK
12    209  26     Obnoxious
13  24924  10     Inspiring

In [9]:
df2 = df1.loc[: , "ratings"]
df2.head(2)

0    [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
1    [{'id': 7, 'name': 'Funny', 'count': 544}, {'i...
Name: ratings, dtype: object